rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    function esSupervisor() {
      return request.auth != null
        && get(/databases/(default)/documents/usuarios/$(request.auth.uid)).data.rol == 'supervisor';
    }

    match /comprobantes/{uid}/{allPaths=**} {
      allow read: if request.auth != null && request.auth.uid == uid
        || esSupervisor();
      allow write: if request.auth != null && request.auth.uid == uid
        && request.resource.size < 10 * 1024 * 1024
        && request.resource.contentType.matches('image/(png|jpeg|jpg|webp)|application/pdf');
    }
  }
}
